mixin select( name, keys, val, req = false )
  select( name= name, required= req )
    option( value= "" )= t( 'editor.select' )
    each k in keys
      option( value= k, selected= ( k === val ) )= t( '_.' + name + '.' + k )
