append styles
  link( rel= "stylesheet", href= "/css/components/list.css" )

mixin list()
  div.cc-mixin.cc-mixin--list
    div.cc-list--filter
      div.cc-list--filter-search
        i.fa.fa-search
        input.cc-list--filter-search-input(
          filter= "search", type= "text", autocomplete= "off",
          placeholder= t( 'list.filter.search' )
        )
      div.cc-list--filter-controls
        each s in [ 'type', 'status', 'grade', 'country', 'currency', 'year', 'material' ]
          select.cc-list--filter-select( filter= s )
            option( value= "" )= t( 'list.filter.' + s )
            option( disabled ) ──────────
