mixin list()
  div.cc-mixin.cc-mixin--list
    div.cc-list--filter
      div.cc-list--filter-search
        i.fa.fa-search
        input.cc-list--filter-search-input(
          filter= "search", type= "text", autocomplete= "off",
          placeholder= t( 'list.filter.search' )
        )
