.cc-coin--header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 3em;
    margin: 0.4em 0 1.2em;
}

.cc-coin--name {
    margin: 0;
    font-size: 2.4em;
    font-weight: 300;
}

.cc-coin--actions {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.cc-coin--content {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 3em;
}

.cc-coin--image {
    margin: 0 0 2.4em 0;
}

.cc-coin--image img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

.cc-coin--image figcaption {
    margin: 0.3em 0;
    text-transform: uppercase;
    font-size: 0.76em;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-coin--tags {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.6em;
}

.cc-coin--tags a {
    padding: 0.6em 1em;
    font-size: 0.8em;
    color: #fff;
    background: var( --accent-color );
    border-radius: var( --border-radius );
}

.cc-coin--info-list {
    list-style: none;
    display: grid;
    gap: 1.6em 2.4em;
    margin: 0;
    padding: 0;
}

.cc-coin--info-list.col2 {
    grid-template-columns: repeat( 2, 1fr );
}

.cc-coin--info-list.col3 {
    grid-template-columns: repeat( 3, 1fr );
}

.cc-coin--info-list-item {
    font-size: 1.4em;
    font-weight: 300;
}

.cc-coin--info-list-item label {
    display: block;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    font-size: 0.52em;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-coin--info-list-item p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.8em;
}

.cc-coin--info-list-item a:hover {
    text-decoration: underline;
    text-underline-offset: 14%;
    text-decoration-thickness: 1px;
}

.cc-coin--desc {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    gap: 2em;
    margin: 2em;
}

.cc-coin--desc i {
    font-size: 2.4em;
    color: var( --text-muted );
}

.cc-coin--desc p {
    margin: 0;
    line-height: 1.4;
    font-size: 1.4em;
    font-weight: 300;
}

.cc-coin--modified {
    margin: 0;
    text-align: right;
    font-size: 0.7em;
    color: var( --text-muted );
}

.cc-coin--value {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    margin: 3em 0;
}

.cc-coin--value-item {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 1.4em;
    background: var( --box-bg );
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

.cc-coin--value-item label {
    margin-bottom: 0.8em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-coin--value-item b {
    font-size: 2.4em;
    font-weight: 600;
    color: var( --accent-color );
}

.cc-coin--value-item span {
    margin-top: 0.4em;
    font-size: 0.76em;
    color: var( --text-muted );
}
