.cc-coin--header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 3em;
    margin: 0.4em 0 1.2em;
}

.cc-coin--name {
    margin: 0;
    font-size: 2.4em;
    font-weight: 300;
}

.cc-coin--actions {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.cc-coin--content {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 2em;
}

.cc-coin--info-list {
    list-style: none;
    display: grid;
    gap: 1.6em 2.4em;
    margin: 0;
    padding: 0;
}

.cc-coin--info-list.col2 {
    grid-template-columns: repeat( 2, 1fr );
}

.cc-coin--info-list.col3 {
    grid-template-columns: repeat( 3, 1fr );
}

.cc-coin--info-list-item {
    font-size: 1.4em;
    font-weight: 300;
}

.cc-coin--info-list-item label {
    display: block;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    font-size: 0.52em;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-coin--info-list-item p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.8em;
}

.cc-coin--desc {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    gap: 2em;
    margin: 2em;
}

.cc-coin--desc i {
    font-size: 2.4em;
    color: var( --text-muted );
}

.cc-coin--desc p {
    margin: 0;
    line-height: 1.4;
    font-size: 1.4em;
    font-weight: 300;
}
