.cc-coin--header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    border-bottom: 1px solid var( --border-color );
}

.cc-coin--header-title {
    margin: 0 0 12px;
    font-size: 22px;
    font-weight: 500;
}

.cc-coin--header-actions {
    display: flex;
    flex-flow: row nowrap;
}

.cc-coin--header-actions a {
    margin-bottom: -1px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 500;
    color: var( --text-muted );
    border-bottom: 2px solid transparent;
}

.cc-coin--header-actions a:hover {
    color: var( --text-color );
}

.cc-coin--header-actions a.current {
    color: var( --accent-main );
    border-bottom-color: var( --accent-main );
}

.cc-coin--content {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 48px;
}

.cc-coin--tags {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin: 24px 0;
}

.cc-coin--tags a {
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background: var( --accent-main );
    border-radius: var( --border-radius );
}

.cc-coin--tags a:hover {
    background: var( --accent-secondary );
}

.cc-coin--value-list .cc-list li {
    gap: 0;
    padding: 8px 0;
}

.cc-coin--value-container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.cc-coin--value-graph {
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px dashed var( --border-color );
}

.cc-coin--image {
    margin: 0 0 32px;
    padding: 0;
}

.cc-coin--image img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    background: var( --box-bg );
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
    overflow: hidden;
}

.cc-coin--image figcaption {
    text-align: right;
    font-size: 12px;
    color: var( --text-muted );
}

.cc-coin--identifier .cc-list li {
    gap: 0;
    padding: 8px 0;
}
