.cc-editor--content {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 3em;
}

.cc-editor--row {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1.2em 1.6em;
    margin-top: 1.2em;
}

.cc-editor--item {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
}

.cc-editor--item.x2 {
    flex: 2;
}

.cc-editor--item label {
    text-transform: uppercase;
    font-size: 0.76em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-editor--item input,
.cc-editor--item select {
    padding: 0.74em 0.86em;
    font-family: inherit;
    font-size: 0.92em;
    color: var( --text-color );
    background: #fff;
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

.cc-editor--item select {
    cursor: pointer;
}
