.cc-footer {
    background: var( --box-bg );
    padding: 2.4em 0 5em;
    font-size: 0.8em;
    color: var( --text-muted );
    border-top: 1px solid var( --border-color );
}

.cc-footer--legal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.4em;
    margin-top: 0.6em;
}

.cc-footer--legal a:hover {
    text-decoration: underline;
    text-underline-offset: 14%;
    text-decoration-thickness: 1px;
}
