.cc-footer--inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 96px 0 48px;
    font-size: 14px;
    color: var( --text-muted );
}

.cc-footer--legal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 32px;
}

.cc-footer--legal a:hover {
    text-decoration: underline;
}
