.cc-footer {
    padding: 48px 0 96px;
    font-size: 14px;
    background: rgba( 255 255 255 / 0.8 );
    backdrop-filter: blur( 10px );
    border-top: 1px solid var( --border-color );
}

.cc-footer--legal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 32px;
    margin-top: 12px;
}

.cc-footer--legal a:hover {
    text-decoration: underline;
}
