.cc-settings--box-hl {
    margin: 0 0 0.8em;
    text-transform: uppercase;
    font-size: 0.76em;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-settings--grid {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 3em;
}

.cc-settings--item select {
    padding: 0.8rem 1rem;
    font-family: inherit;
    font-size: 0.96em;
    color: var( --text-color );
    background: var( --box-bg );
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
    cursor: pointer;
}

.cc-settings--item p {
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 0.86em;
    color: var( --text-muted );
}

.cc-settings--button {
    display: inline-block;
    margin-top: 0.46em;
    padding: 0.8rem 1rem;
    text-align: left;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 300;
    border: 0;
    border-radius: var( --border-radius );
    cursor: pointer;
}

.cc-settings--button small {
    display: block;
    font-size: 0.6em;
}

.cc-settings--button._primary {
    background: #fff;
    border: 1px solid var( --border-color );
}

.cc-settings--button._danger {
    color: #fff;
    background: var( --danger-color );
}
