@import './materials.css';

.cc-stats--overview {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    margin: 3em 0;
}

.cc-stats--overview-item {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0;
}

.cc-stats--overview-item label {
    margin-bottom: 0.8em;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var( --text-muted );
}

.cc-stats--overview-item b {
    font-size: 2.4em;
    font-weight: 600;
    color: var( --accent-color );
}

.cc-stats--overview-item span {
    margin-top: 0.4em;
    font-size: 0.76em;
    color: var( --text-muted );
}

.cc-stats--charts-grid {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 2em;
}

.cc-stats--material-table {
    min-width: 100%;
    text-align: right;
    font-size: 0.92em;
    border-collapse: separate;
    border-spacing: 0;
}

.cc-stats--material-table th,
.cc-stats--material-table td {
    padding: 0.8rem 0.6rem;
}

.cc-stats--material-table thead th {
    text-transform: uppercase;
    font-size: 0.82em;
    font-weight: 500;
    letter-spacing: 0.1em;
    border-bottom: 1px solid var( --border-color );
}

.cc-stats--material-table ._material {
    text-align: left;
}

.cc-stats--material-table ._material span {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.6em;
}

.cc-stats--material-table ._material span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var( --c, var( --text-muted ) );
    border-radius: var( --border-radius );
}

.cc-stats--material-table tbody tr:not( :last-child ) td {
    border-bottom: 1px dashed var( --border-color );
}
