@font-face {
    font-family: 'Inter';
    src: url( ../fonts/Inter.woff2 ) format( 'woff2' );
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    src: url( ../fonts/Inter-Italic.woff2 ) format( 'woff2' );
}

@font-face {
    font-family: 'FiraCode';
    src: url( ../fonts/FiraCode.woff2 ) format( 'woff2' );
}
