.cc-list--filter {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    margin-bottom: 2.4em;
}

.cc-list--filter-search {
    position: relative;
}

.cc-list--filter-search i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY( -50% );
    color: var( --text-muted );
}

.cc-list--filter-search-input {
    width: 100%;
    padding: 0.8rem 1rem 0.8em 3em;
    font-family: inherit;
    font-size: 0.96em;
    color: var( --text-color );
    background: var( --box-bg );
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

.cc-list--filter-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.cc-list--filter-controls label {
    font-size: 0.96em;
    font-weight: 300;
}

.cc-list--filter-select {
    padding: 0.8rem 1rem;
    font-family: inherit;
    font-size: 0.96em;
    color: var( --text-color );
    background: var( --box-bg );
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
    cursor: pointer;
}

.cc-list--table-container {
    width: 100%;
    white-space: nowrap;
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
    overflow-x: auto;
}

.cc-list--table {
    position: relative;
    min-width: 100%;
    text-align: left;
    font-size: 0.86em;
    border-collapse: separate;
    border-spacing: 0;
}

.cc-list--table th,
.cc-list--table td {
    padding: 0.8rem 1rem;
    background: var( --box-bg );
}

.cc-list--table-header th {
    text-transform: uppercase;
    font-size: 0.82em;
    font-weight: 500;
    letter-spacing: 0.1em;
    border-bottom: 1px solid var( --border-color );
}

.cc-list--table-content tr:not( :last-child ) td {
    border-bottom: 1px dashed var( --border-color );
}

.cc-list--table-content td {
    font-weight: 300;
}

.cc-list--table ._coin {
    position: sticky;
    left: 0;
    border-right: 1px solid var( --border-color );
    opacity: 98;
}

.cc-list--table ._coin a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.8em;
}

.cc-list--table ._coin a b {
    font-weight: 500;
    color: var( --accent-color );
}

.cc-list--table ._coin a img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

.cc-list--table ._amount,
.cc-list--table ._omv {
    text-align: right;
}

.cc-list--table-empty td {
    display: none;
    padding: 3em;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    color: var( --text-muted );
}

.cc-list--table-empty.show td {
    display: table-cell;
}
