.cc-list--filter {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    margin-bottom: 32px;
}

.cc-list--filter-search {
    position: relative;
}

.cc-list--filter-search i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY( -50% );
    color: var( --text-muted );
}

.cc-list--filter-search input {
    padding-left: 48px;
}

.cc-list--filter-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.cc-list--table-container {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.cc-list--table {
    position: relative;
    min-width: 100%;
}

.cc-list--table ._coin {
    position: sticky;
    left: 0;
    max-width: 320px;
    border-right: 1px dashed var( --border-color );
    opacity: 98;
}

.cc-list--table ._coin a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    width: 100%;
    overflow: hidden;
}

.cc-list--table ._coin a b {
    min-width: 0;
    text-overflow: ellipsis;
    font-weight: 500;
    color: var( --accent-color );
    overflow: hidden;
}

.cc-list--table ._coin a img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: center;
    border: 1px solid var( --border-color );
    border-radius: var( --border-radius );
}

.cc-list--table-empty td {
    display: none;
    padding: 96px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: var( --text-muted );
    border-top: 1px solid var( --border-color );
}

.cc-list--table-empty.show td {
    display: table-cell;
}

.cc-list--eol {
    margin: 32px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var( --text-muted );
}
