extends ../layout/page
include ../components/form

append styles
  link( rel= "stylesheet", href= "/css/editor.css" )

block main
  div.cc-editor.cc-content--normal
    div.cc-editor--nav
      a.current( href= "/add/base" )= t( 'editor.nav.base' )
      a( href= "/add/coin" )= t( 'editor.nav.coin' )

    form.cc-editor--form.cc-box( autocomplete= "on" )
      h3.cc-box--hl= t( 'editor.base.info.headline' )
      div.cc-form--row
        +text( 'name', t( 'editor.base.info.name' ), undefined, true, 'x2' )
        +select( 'type', t( 'editor.base.info.type' ), keys.type, undefined, true )
      div.cc-form--row
        +text( 'series', t( 'editor.base.info.series' ), undefined, false, 'x2' )
        +text( 'country', t( 'editor.base.info.country' ), undefined, false )
      div.cc-form--row
        +text( 'currency', t( 'editor.base.info.currency' ), undefined, false, 'x2' )
        +text( 'nominal.value', t( 'editor.base.info.nominal.value' ), undefined, false )
        +text( 'nominal.unit', t( 'editor.base.info.nominal.unit' ), undefined, false )
      div.cc-form--row
        +text( 'tags', t( 'editor.base.info.tags' ), undefined, false )
