footer#footer.cc-footer
  div.cc-footer--inner.cc-content--wide
    div.cc-footer--copyright= t( '_.copyright' )
    nav.cc-footer--legal
      a( href= "https://komed3.de" ) komed3.de
      a( href= "https://github.com/komed3/coincollect" ) GitHub
      a( href= "https://ko-fi.com/komed3" )= t( '_.support' )
