header#header.cc-header
  div.cc-header--inner.cc-content--wide
    h1.cc-header--title
      a( href= "/" )
        span Coin
        b Collect
    nav.cc-header--nav
      a( href= "/", class= ( page == 'dashboard' ? 'current' : '' ) )= t( '_.nav.dashboard' )
      a( href= "/stats", class= ( page == 'stats' ? 'current' : '' ) )= t( '_.nav.stats' )
      a( href= "/add/base", class= ( page == 'editor' ? 'current' : '' ) )= t( '_.nav.add' )
      a( href= "/settings", class= ( page == 'settings' ? 'current' : '' ) )= t( '_.nav.settings' )
