doctype html
html( lang= lang )
  head
    meta( charset= "UTF-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    title= t( '_.title', { title } )

    block styles
      link( rel= "stylesheet", href= "/css/styles.css" )
      link( rel= "stylesheet", href= "/css/header.css" )

  body#top.cc
    block prebody
    include ./header

    main#main.cc-main
      block main

    include ./footer
    block postbody
